h1 {
    text-align: center;
    color: #280061;
    padding: 1rem;
  }
  
  .registro-form {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .registro-btn {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #280061;
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .cancelar-btn {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #e74c3c; /* Color rojo */
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .cancelar-btn:hover {
    background-color: #c0392b; /* Color rojo oscuro al pasar el cursor */
  }
  
  .cancelar-btn:focus {
    outline: none; /* Eliminar el contorno al enfocar el botón */
  }