<div class="wave-background">
  <div class="container mt-4">
    <div class="user-info">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="mr-2">
            <img src="assets/img/avatar_general.png" alt="Avatar" class="rounded-circle" style="width: 40px; height: 40px;">
          </div>
          <div class="user-name">
            <h2>Julio Cesar Cuevas</h2>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="logoutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cerrar sesión
          </button>
          <div class="dropdown-menu" aria-labelledby="logoutDropdown">
            <a class="dropdown-item" href="#">Ver Perfil</a>
            <a class="dropdown-item" href="#">Cambiar Foto</a>
            <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-3">
        <div class="finances-icon">
          <img src="assets/img/icono_home.ico" alt="Icono de finanzas" class="img-fluid">
        </div>
      </div>
      <div class="col-md-9">
        <h2 class="mb-4">Mis Servicios</h2>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <div class="service-container">
              <a [routerLink]="['/ingresos']" class="btn btn-primary btn-block large-btn">Ingresos</a>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="service-container">
              <a [routerLink]="['/presupuestos']" class="btn btn-primary btn-block large-btn">Presupuestos</a>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="service-container">
              <a [routerLink]="['/gastos']" class="btn btn-primary btn-block large-btn">Gastos</a>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="service-container">
              <a [routerLink]="['/ahorro']" class="btn btn-primary btn-block large-btn">Ahorro</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>


